<div class="btn-toolbar navbar-fixed-top" role="toolbar">
	<div class="btn-padding">
		<button id="home" type="button" class="btn btn-default">
			<img src="/assets/icons/32x32/house.png"/>
		</button>

		<!-- Single button -->
		<button type="button" class="btn btn-default dropdown-toggle breadcrumb" data-toggle="dropdown">
			Flow <span class="caret"></span>
		</button>
		<ul class="dropdown-menu breadcrumb" role="menu">
			<li><a href="#">Admin</a></li>
		</ul>
		<button id="actions" type="button" class="btn btn-default pull-right">
			<!--
			<i class="fa fa-cog fa-lg"></i>
			-->
			<img src="/assets/icons/32x32/cog.png"/>
		</button>
	</div>
</div>

<div id="listing1" class="main-content">
</div>

<div id="form" class="main-content">
	<form>
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="text" class="form-control" placeholder="Username">
		</div>

		<div class="input-group">
			<input type="text" class="form-control">
			<span class="input-group-addon">.00</span>
		</div>

		<div class="input-group">
			<span class="input-group-addon">$</span>
			<input type="text" class="form-control">
			<span class="input-group-addon">.00</span>
		</div>
	</form>
</div>

<div class="btn-toolbar navbar-fixed-bottom" role="toolbar">
	<div class="btn-padding">
		<p>some footer text from template</p>
	</div>
</div>

<div id="popup">
	<div>
		<div class="menu-arrow"></div>
	</div>
	<div id="popup-background">
		<p>
		a popup
		</p>
	</div>
</div>
